<h2><%= @category.name %></h2>

<ul>
<%= for product <- @category.products do %>
    <li><%= product.name %> $<%= product.price %></li>
<% end %>
</ul>

<%= link "Back", to: category_path(@conn, :index) %>
