<h2>Cart</h2>

<ul>
<%= for line_item <- @order.line_items do %>
    <li><%= line_item.product.name %> $<%= line_item.price %> x <%= line_item.quantity %> Total: $<%= line_item_total(line_item) %></li>
<% end %>
</ul>
